.header{
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
}
.logo-container{
  width: 100px;
  height: 120px;
}
.logo{
  width: 100px;
  height: 100px;
  border-radius: 70px;
  margin: 10px;
  border: 0.5px solid rgb(147, 101, 101);
}

.nav-items>ul{
display: flex;
list-style-type: none;
padding: 20px;
flex-wrap: wrap
}
.nav-items>ul>li{
  padding: 10px;
}
.nav-items>ul>button{
  width: 90px;
  height: 45Px;
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(243, 172, 191)
}
.cart-icon{
  width: 50px;
  height: 40px;
}
.search{
  padding: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}
.res-card{
  margin: 10px;
  width: 200px;
  height: 420px; 
  border-radius: 7px;
}

.res-card:hover{
  cursor: pointer;
  border: 1px solid black;
}
.res-card>h3,h4,h5{
  margin: 10px;
  word-wrap:break-word;
}
.res-img{
height: 200px;
width: 180px;
border-radius: 10px;
padding: 10px 0px 0px 10px;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  background-color: rgb(186, 184, 184);
  margin: 10px;
  width: 200px;
  height: 420px; 
  border-radius: 7px;
}
.login{
  padding:0px 20px;
  margin: 0px 10px;
}
.filter-bar{
  display: flex;
}
.search-box{
  height: 30px;
  width: 200px;
}
.search-btn{
  height: 35px;
  width: 150px;
}
.filter-btn{
  height: 35px;
  margin: 10px;
  width: 150px;
}
.error-img{
  height: 200px;
  width: 350px;
  border-radius: 10px;
}
.error-page{
  display:grid;
  justify-content: center;
}